* {
  margin: 0;
  padding: 0;
}

/* 通用 */
body {
  font-family: "Microsoft YaHei", "PingFang SC";
  height: 1000px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* 所有li都是左浮动 */
li {
  float: left;
}

/* 头部 */
.header {
  min-width: 1226px;
  height: 100px;
  /* background-color: #666; */
}

.top-bar {
  height: 40px;
  background-color: #666;
  line-height: 40px;
}

/* 居中 */
.top-bar-wrap {
  width: 1228px;
  margin: 0 auto;
}

/* 相对定位 */
.top-bar-wrap {
  position: relative;
}

/* 头部所有a的字体大小颜色 */
.top-bar ul>li a {
  font-size: 11px;
  color: rgb(204, 204, 204);
}

.top-bar .nav-left li{
  height: 41px;
  margin-left: 43px;
}

.top-bar .nav-left li:first-child {
  margin-left: 0;
}

/* a的hover */
.top-bar ul>li a:hover {
  color: rgb(250, 250, 250);
}